.right-sidebar {
  position: relative;
  width: 34%;
  height: 800vh;
  position: absolute;
  left: 74%;
  position: fixed;
  margin-top: 38px;
}
.widgets {
  height: 800vh;
}

/* @media only screen and (max-width : 900px) {
    .right-sidebar {
     display: none;
 }
} */
