.right-sidebar {
  position: relative;
  width: 34%;
  height: 800vh;
  position: absolute;
  left: 74%;
  position: fixed;
  margin-top: 38px;
}
.widgets {
  height: 800vh;
}

/* @media only screen and (max-width : 900px) {
    .right-sidebar {
     display: none;
 }
} */

@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
}
