.profileHeader {
  background-color: white;
  height: 80vh;
  margin-top: 0px;
  box-shadow: 0px 1px 0px #dbd1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #83858d 5%, transparent 62%);
}
.myProfileContent {
  background-color: #f0f2f5;
  margin-top: 4px;
  height: 79vh;
}
#profileimg {
  display: flex;
  justify-content: center;
  width: 100%;
  object-fit: cover;

  border: none;
  border-radius: 8px;
}
.profileImage {
  width: 70vw;
  height: 60vh;
  display: flex;
  justify-content: center;
}
.profileAvtar {
  width: 70vw;
}
.profileAvtarDiv {
  display: flex;
  margin-left: 2em;
  gap: 30px;
  align-items: center;
}
.avtarProfile {
  margin-top: -60px;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userProfileName {
  font-size: 30px;
}

.user_user_info {
  position: relative;
  width: 23%;
  bottom: 15px;
  left: 21%;
  padding: 38px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

strong {
  color: #787070;
}

li {
  color: #787070;
}

.user_post {
  width: 39%;
  position: absolute;
  left: 52%;
  top: 95%;
  height: 197vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.users__post_div {
  background-color: white;
  height: 28em;
  width: 92%;
}

.about_field {
  padding: 0px 27px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 18em;
  border-radius: 10px;
}

.card__img {
  height: 100%;
}

.cardcontent__1 {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

.cardcontent__1 img {
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center;
  background-position: center;
  width: 100%;
  object-fit: cover;
  height: 362px;
  border-radius: 0px 0px 10px 10px;
  width: 98%;
  height: 401px;
}
.logged-in {
  background-color: white;
  width: 29em;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .user_post {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 197vh;
    left: 15%;
    position: absolute;
    top: 131%;
    width: 52%;
  }
  .user_user_info {
    position: relative;
    width: 23%;
    bottom: 15px;
    left: 0 !important;
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }
  .profileHeader {
    background-color: white;
    height: 56vh;
    margin-top: 0px;
    box-shadow: 0px 1px 0px #dbd1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, #83858d 5%, transparent 62%);
  }
  .myProfileContent {
    background-color: #f0f2f5;
    margin-top: 4px;
    height: 56vh;
  }
  .profileAvtarDiv {
    display: flex;
    margin-left: -4em;
    gap: 30px;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .profileAvtarDiv {
    display: flex;
    margin-left: -1em;
    gap: 1px;
    align-items: center;
  }
  .profileHeader {
    background-color: white;
    height: 70vh;
    margin-top: -33px;
    box-shadow: 0px 1px 0px #dbd1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, #83858d 5%, transparent 62%);
  }
  .userProfileName {
    font-size: 14px;
  }
  .user_user_info {
    position: absolute;
    width: 76%;
    left: 0;
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    top: 27em;
  }
  .about_field {
    padding: 0px 27px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 12em;
    border-radius: 10px;
    /* position: absolute; */
  }
  .user_post {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* height: 197vh; */
    left: 16%;
    position: absolute;
    top: 61em;
    width: 67%;
  }
  .logged-in {
    max-width: 462px;
    /* max-height: 800px; */
    /* height: 33em; */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    position: absolute;
    top: 3em !important;
  }
  element.style {
    position: relative;
    left: 18%;
    top: 5px;
  }
}
